[submodule "truefans/frontend"]
	path = truefans/frontend
	url = https://github.com/kenneth04nalvarte/truefans-frontend-new.git
[submodule "truefans/truefans/frontend"]
	path = truefans/truefans/frontend
	url = https://github.com/kenneth04nalvarte/truefans-frontend-new.git
